<?xml version="1.0"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true">

    <testsuite name="MSBios Theme tests">
        <directory>./tests</directory>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"
             target="./data/logs/report"
             charset="UTF-8"
             yui="true"
             highlight="true"
             lowUpperBound="50"
             highLowerBound="80"/>
        <log type="testdox-html"
             target="./data/logs/testdox.html"/>
    </logging>
</phpunit>