<?php
/**
 * @access protected
 * @author Judzhin Miles <info[woof-woof]msbios.com>
 */

namespace MSBios\Validator;

return [
    Module::class => [
        GoogleReCaptcha::class => [
            /**
             * Secret
             *
             * Expects: string
             * Default: ''
             */
            'secret' => ''
        ]
    ]
];
